<p> 
  Welcome to the Battleshift application <%= @user.first_name.capitalize %>. Here is your API key <%= @user.api_key %> 
  <a href=<%= @url %>/activate/user?username=<%= @user.username %>>Visit this link to activate your account.</a>
</p>

<p>
  Alternatively, you can copy and paste this link into your browser. <%= @url %>/activate/user?username=<%= @user.username %>
</p>
