<section class="welcome-main">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/IQQhdaoSMOs?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=IQQhdaoSMOs" frameborder="0" allowfullscreen></iframe>
      <hidden class="hidden">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65397994&color=%237c94ac&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      </hidden>
      Registration Page
    </div>
  </div>
  <section class="welcome-login">
    <h1>BattleShift</h1>
    <div class="something-stupid">Register</div>
    <form class="button">
      Register to Play

      <%= form_tag '/register' do %>

        <%= label_tag 'name' %>
        <%= text_field_tag 'name' %>

        <%= label_tag 'email' %>
        <%= email_field_tag 'email' %>

        <%= label_tag 'password' %>
        <%= password_field_tag 'password' %>

        <%= label_tag 'password_confirmation' %>
        <%= password_field_tag 'password_confirmation' %>

        <%= submit_tag 'Create Account' %>

      <% end %>
    </form>
  </section>
</section>
