<!DOCTYPE html>
<html>
  <head>
    <title>BattleshipWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <p>Logged in as <%= current_user.name %><p>
    <% end %>

    <div class="alert-<%= flash.keys[0]%>">
      <% flash.each do |key, value| %>
        <div class=" <%= flash_class(key) %> ">
          <%= value.html_safe %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
